* {
  margin: 0;
}
body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  background-color: #eee;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
}
.branding img {
  display: block;
  width: 250px;
  height: 80px;
}

.main-menu__link {
  color: #000;
  text-decoration: none;
}

/* Navigation */

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  height: 80px;
  padding: 10px 0;
  width: 90%;
  margin: auto;
}

.main-menu {
  display: flex;
}

.main-menu__item {
  list-style: none;
  padding: 10px;
}

/* main */
.main-container {
  margin-top: 150px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  gap: 10px;
  justify-content: center;
}
.post {
  height: 300px;
  border: 1px solid black;
  position: relative;
  transition: transform 0.3s;
}

.post-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.post:hover .post-overlay {
  display: flex;
}

.post:hover {
  transform: scale(1.05, 1.05);
}
